<div class="d-flex flex-warp">
    <% @recipes.each do |recipe| %>
        <div class="col-md-4">
            <div class="d-flex justify-content-center">
                <% if recipe.recipe_image.attached? %> 
                    <%= image_tag recipe.recipe_image.variant(resize: "300x300") %>
                <% else %>
                    <%= image_tag 'no_recipe_image.png', :size => "100x100" %>
                <% end %>
            </div>
            <%= link_to admin_recipe_path(recipe.id) do %>
            <p class="text-center text-dark"><%= recipe.recipe_name %>
                <span>♡</span><%= recipe.favorites.count %>                        
            </p>
            <% end %>
        </div>
    <% end %>
</div>