<div class="container">
    <div class="col-md-10 mx-auto">
        <div class="mt-5">
            <h2 class="font-weight-bold text-center">投稿一覧</h2>
        </div>
        
        <div class="d-flex flex-warp">
            <% @recipes.each do |recipe| %>
                <div>
                    <% if recipe.recipe_image.attached? %> 
                        <%= image_tag recipe.recipe_image.variant(resize: "300x300") %>
                    <% else %>
                        <%= image_tag 'no_image.jpg', :size => "100x100" %>
                    <% end %>
                    <p class="text-center">
                        <%= link_to admin_recipe_path(recipe.id) do %>
                            <%= recipe.recipe_name %>
                        <% end %>
                    </p>
                </div>
            <% end %>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <%= paginate @recipes %>
        </div>
    </div>
</div>
    