
<!---管理者--->
<% if current_page?(controller: 'admin/recipes', action: 'show') %>
<!---ユーザー情報-->
    <%= link_to admin_user_path(@recipe.user.id), class: 'd-flex' do %>
        <% if @recipe.user.user_icon.present? %>
            <%= image_tag @recipe.user.user_icon.variant(resize: "35x30"), class: 'rounded-circle', style: "object-fit: cover;" %>
        <% else %>
            <%= image_tag 'no_image.jpg', :size => "30x30", class: 'rounded-circle'%>
        <% end %>
        <h4 class="text-dark ml-3 font-weight-normal"><%= @recipe.user.name %></h4>
    <% end %>
<!--カテゴリー-->  
    <div class="mt-2"> 
        <h5>カテゴリー</h5>
        <%= link_to admin_category_recipes_path(category_id: @category.id) do %>
           <h5 class="text-dark ml-3 border-bottom border-dark"><%= @recipe.category.category_name %></h5>
        <% end %>
    </div> 
    <!--タグ--->
    <div class="d-flex mt-2">   
        <% @recipe.tags.each do |tag| %>
            <div class="tag-list">
                <%= link_to admin_tag_recipes_path(tag_id: tag.id) do %>
                    <h6 class="text-dark ml-1">#<%= tag.tag_name %></h6>
                <% end %>
            </div>
        <% end %>
    </div>
<!---ユーザ--->
<% else %>
<!---ユーザー情報-->
    <%= link_to user_path(@recipe.user.id), class: 'd-flex' do %>
        <% if @recipe.user.user_icon.present? %>
            <%= image_tag @recipe.user.user_icon.variant(resize: "35x30"), class: 'rounded-circle', style: "object-fit: cover;" %>
        <% else %>
            <%= image_tag 'no_image.jpg', :size => "30x30", class: 'rounded-circle'%>
        <% end %>
        <h4 class="text-dark ml-3 font-weight-normal"><%= @recipe.user.name %></h4>
    <% end %>
<!--カテゴリー-->  
    <div class="d-flex mt-2"> 
        <h5>カテゴリー</h5>
        <%= link_to category_recipes_path(category_id: @category.id) do %>
           <h5 class="text-dark ml-3 border-bottom border-dark"><%= @recipe.category.category_name %></h5>
        <% end %>
    </div> 
<!--タグ--->
    <div class="d-flex mt-2">   
        <% @recipe.tags.each do |tag| %>
            <div class="tag-list">
                <%= link_to tag_recipes_path(tag_id: tag.id) do %>
                    <h6 class="text-dark ml-1">#<%= tag.tag_name %></h6>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>

<h5 class="mt-2">説明</h5>
<p><u><%= @recipe.introduction %></u></p>
