<div class="nested-fields">
    <div class="row mt-2">
        <%= f.number_field :number, placeholder: "No.", class: 'col-md-2 text-form' %>
        <%= f.label :step_image, '写真', class: 'ml-5' %>
        <%= f.file_field :step_image %>
    </div>
    <div class="row mt-2 d-flex align-items-center">
        <%= f.text_area :explanation, rows: 5, class: 'col-md-9 text-form' %>
        <%= link_to_remove_association '削除', f, class: 'h-50 btn btn-secondary col-md-2 ml-2' %>
    </div>
</div>