<%= render partial: 'layouts/flash' %>
<div class="container">
    <div class="col-md-10">
        <div class="col-md-5 mr-auto">
            <h1>
                <%= @recipe.recipe_name %>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6 align-baseline">
                <% if @recipe.recipe_image.attached? %> 
                    <%= image_tag @recipe.recipe_image.variant(resize: "500x450") %>
                <% else %>
                    <%= image_tag 'no_image.jpg', :size => "100x100" %>
                <% end %>
            </div>
            <div class="col-md-5 ml-5 d-flex flex-column align-items-start justify-content-center">
                <h3><%= @recipe.category.category_name %></h3>
                <% @recipe.tags.each do |tag| %>
                    <div class="tag-list">
                        <h3><%= tag.tag_name %></h3>
                    </div>
                <% end %>
                <h4><%= @recipe.introduction %></h4>
            </div>
        </div>
        <div class="col-md-12">
            <h2>材料（<%= @recipe.serving %>人分）</h2>
            <table class="table table-borderless">
                <tr>
                    <th>食材・調味料</th>
                    <th>分量</th>
                </tr>
                <% @recipe.ingredients.each do |ingredient| %>
                <tr>
                    <td><%= ingredient.ingredient_name %></td>
                    <td><%= ingredient.quantity %></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-8">
                <h2>作り方</h2>
            </div>
            <div class="d-flex flex-warp flex-column">
                <% @recipe.steps.each do |step| %>
                    <div class="col-md-6">
                        <div class="col-md-2">
                            <h3 class="border border-dark"><%= step.number %></h3>
                        </div>
                        <div>
                            <% if step.step_image.attached? %>
                                <%= image_tag step.step_image.variant(resize: "300x200") %>
                            <% else %>
                                <%= image_tag 'no_image.jpg', :size => "100x100" %>
                            <% end %>
                        </div>
                        <div class="mt-1">
                            <h5><%= step.explanation %></h5>
                        </div>
                    </div>
                <% end %>
            </div>
            
        </div>
        <div class="text-center">
            <%= link_to '編集', edit_recipe_path(@recipe.id) %>
        </div>
    </div>
