<div class="container mt-5">
  <div class="row no-gutters">
  <div class="col-md-8 mx-auto">
    <h2 class="text-center mb-4">管理者用ログイン</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row form-group d-flex justify-content-center">
        <%= f.label :email, 'メールアドレス', class: 'col-md-3 col-sm-6' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-md-5 col-sm-4' %>
      </div>
    
      <div class="row form-group d-flex justify-content-center">
        <%= f.label :password , 'パスワード', class: 'col-md-3 col-sm-6' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'col-md-5 col-sm-4' %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="offset-md-8">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="d-flex justify-content-center">
        <%= f.submit "ログイン", class: 'btn btn-primary col-md-2 col-sm-2' %>
      </div>
    <% end %>
    
    <%= render "admin/shared/links" %>
  </div>
  </div>
</div>