<div class="container">
    <div class="mt-5">
        <div class="col-md-11 col-xs-12 mx-auto">
            
            <div class="col-md-12 mx-auto d-md-flex">
                <div class="col-md-7 col-xs-12 co-sm-10 border border-info rounded-lg py-4 mb-5 d-md-flex flex-column align-items-center justify-content-center">
                    <h3 class="title">会員登録で様々な機能が利用可能</h3>
                    <ul class="mt-1">
                        <li>レシピやユーザーをキーワード検索できます。</li>
                        <li>レシピをお気に入り登録することでレシピを保存することができます。</li>
                        <li>レシピに対してコメントをすることが可能になり、他ユーザーと交流できます。</li>
                    </ul>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
                    <%= link_to '会員登録', new_user_registration_path, class: 'btn btn-primary btn-lg' %><br>
                        <p>すでに登録済みの方はこちらから
                    <%= link_to new_user_session_path do %>
                        ログイン
                    <% end %>
                        </p>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="text-center text-md-left font-weight-bold mb-3 mt-4 mt-md-0" >新着投稿</h2>
            </div>
            <div class="col-md-12 my-5 mx-auto"><!--レシピ一覧--->
                <div class="d-flex flex-wrap">
                    <%= render partial: "public/recipes/recipes", collection: @recipes, as: :recipe %>
                </div>
                <div class="text-center my-5">
                    <%= link_to 'レシピをもっと見る', recipes_path, class: 'text-dark' %>
                </div>
            </div>
            
            <div style="margin-top: 100px;">
                <div class="col-md-4">
                    <h2 class="font-weight-bold text-center text-md-left">カテゴリー</h2>
                </div>
                <div class="mt-4 col-md-8">
                    <% @categories.each do |category| %>
                        <%= link_to category_recipes_path(category_id: category.id) do %>
                            <ul class="list-unstyled">
                                <li class="text-dark text-center text-md-left"><%= category.category_name %>
                                    <span>(<%= category.recipes.count %>)</span>
                                </li>
                            </ul>
                        <% end %>
                    <% end %>
                </div>
                <div class="col-md-4">
                    <h2 class="font-weight-bold mt-4 text-center text-md-left">タグ</h2>
                </div>
                <div class="mt-4 col-md-8">
                    <% @tags.each do |tag| %>
                        <%= link_to tag_recipes_path(tag_id: tag.id) do %>
                            <% if tag.recipes.count > 0 %>
                                <ul class="list-unstyled">
                                    <li class="text-dark text-center text-md-left"><%= tag.tag_name %>
                                        <span>(<%= tag.recipes.count %>)</span>
                                    </li>
                                </ul>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>