<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="col-md-12 row">
                <div class="col-md-7 col-xs-12 co-sm-10 border border-info rounded-lg py-4 mb-5 d-flex flex-column align-items-center justify-content-center">
                    <h3 class="border-bottom border-dark">会員登録で様々な機能が利用可能</h3>
                    <ul class="mt-1">
                        <li>レシピやユーザーをキーワード検索できます。</li>
                        <li>レシピをお気に入り登録することでレシピを保存することができます。</li>
                        <li>レシピに対してコメントをすることが可能になり、他ユーザーと交流できます。</li>
                    </ul>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-center justify-content-center">
                    <%= link_to '会員登録', new_user_registration_path, class: 'btn btn-primary btn-lg' %><br>
                        <p>すでに登録済みの方はこちらから
                    <%= link_to new_user_session_path do %>
                        ログイン
                    <% end %>
                        </p>
                </div>
            </div>
            <div class="col-md-4 mr-md-auto">
                <h2 class="font-weight-bold mb-4">新着投稿</h2>
            </div>
            <div class="col-md-12 my-5 mx-auto"><!--レシピ一覧--->
                <div class="d-flex flex-wrap">
                    <%= render partial: "public/recipes/recipes", collection: @recipes, as: :recipe %>
                </div>
                <div class="text-center my-5">
                    <%= link_to 'レシピをもっと見る', recipes_path, class: 'text-dark' %>
                </div>
            </div>
            <div style="margin-top: 100px;" class="col-md-12 row">
                <div class="col-md-6 pull-left">
                    <div class="mr-md-auto">
                        <h2 class="font-weight-bold">カテゴリー</h2>
                    </div>
                    <div class="mt-4">
                        <% @categories.each do |category| %>
                                    <%= link_to category_recipes_path(category_id: category.id) do %>
                                        <li class="ml-md-4 text-dark"><%= category.category_name %>
                                            <span>(<%= category.recipes.count %>)</span>
                                        </li>
                                    <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-md-6 mt-xs-4">
                    <div class="mr-auto">
                        <h2 class="font-weight-bold">タグ</h2>
                    </div>
                    <div class="mt-4">
                        <% @tags.each do |tag| %>
                            <%= link_to tag_recipes_path(tag_id: tag.id) do %>
                                <% if tag.recipes.count > 0 %>
                                    <li class="ml-md-4 text-dark"><%= tag.tag_name %>
                                    <span>
                                        (<%= tag.recipes.count %>)
                                    </span>
                                    </li>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>