<div class="container mt-5">
  <div class="row no-gutters">
  <div class="col-md-8 col-8 mx-auto">
    <h2 class="text-center mb-4">新規登録</h2>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="row form-group d-flex justify-content-center">
          <%= f.label :name, 'ユーザーネーム', class: 'col-md-4 col-sm-6' %><br />
          <%= f.text_field :name, class: 'col-md-5 col-sm-4 col-10 text-form' %>
        </div>
        
        <div class="row form-group d-flex justify-content-center">
          <%= f.label :email, 'メールアドレス', class: 'col-md-4 col-sm-6' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-md-5 col-sm-4 col-10 text-form' %>
        </div>
      
        <div class="row form-group d-flex justify-content-center">
          <div class="col-md-4 col-sm-6">
            <%= f.label :password, 'パスワード'%>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_lengh %>6文字以上)</em>
            <% end %><br />
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: 'col-md-5 col-sm-4 col-10 text-form' %>
        </div>
      
        <div class="row form-group d-flex justify-content-center">
          <%= f.label :password_confirmation, 'パスワード（確認用）', class: 'col-md-4 col-sm-6' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'col-md-5 col-sm-4 col-10 text-form' %>
        </div>
        
        <div class="row form-group d-flex justify-content-center">
          <%= f.label :user_icon, 'アイコン設定', class: 'col-md-4 col-sm-6' %>
          <%= f.file_field :user_icon, class: 'col-md-5 col-sm-4' %>
        </div>
      
        <div class="d-flex justify-content-center">
        <%= f.submit "新規登録", class: 'btn btn-primary col-md-4 col-8' %>
        </div>
        <% end %>

        <%= render "public/shared/links" %>
      </div>
  </div>
</div>
