<% visitor = notification.visitor %>
<% recipe = notification.recipe %>

<div class="form-inline mb-2">
    <span>
        <%= link_to user_path(visitor) do %>
            <% if visitor.user_icon.present? %>
            <%= image_tag visitor.user_icon, :size => "30x30", class: 'rounded-circle', style: "object-fit: cover;" %>
            <% else %>
            <%= image_tag 'no_image.jpg', :size => "30x30", class: 'rounded-circle' %>
            <% end %>
        <% end %>
    </span>
        <%= notification_form(notification) %>
    <span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    <% if !@comment.nil? %>
        <p class="moderate-font text-center"><%= @comment %></p>
    <% end %>
</div>
