<div>
    <div>
        <h1>プロフィール管理</h1>
        
         <%= form_with(model: @user, url: users_information_path, mothod: :PATCH) do |f| %>
        <div>
            <% if @user.user_icon.present? %>
                <%= image_tag @user.user_icon.variant(resize: "100x100") %>
            <% else %>
                <%= image_tag @user.no_image.variant(resize: "100x100") %>
            <% end %>
            <%= f.label :user_icon, 'アイコン変更' %>
            <%= f.file_field :user_icon %>
        </div>
        <div>
           
                <div>
                    <%= f.label :name, 'ユーザーネーム' %>
                    <%= f.text_field :name %>
                </div>
                <div>
                    <%=f.label :email, 'メールアドレス' %>
                    <%= f.email_field :email %>
                </div>
                <div class="row">
                    <%= f.submit "変更" , class: 'btn btn-success' %>
                    <%= link_to '退会', users_quit_path, class: 'btn btn-danger' %>
                </div>
            <% end %>
        </div>
    
    </div>
    
</div>