<%= render partial: 'layouts/flash' %>
<div class="container">
    <div class="col-md-9 mx-auto">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <% if @user.user_icon.present? %>
                    <%= image_tag @user.user_icon.variant(resize: "200x200") %>
                <% else %>
                    <%= image_tag 'no_image.jpg', :size => "200x200" %>
                <% end %>
                <h3 class="text-center"><%= @user.name %></h3>
            </div>
             <div class="col-md-6">
                <%= link_to 'お気に入りレシピ', favorites_user_path(@user), class: 'btn btn-warning mb-3' %><br>
            <% if @user.id == current_user.id %>
                    <%= link_to 'プロフィールを編集する', users_information_edit_path, class: 'btn btn-success' %>
            <% end %>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
                <h2>投稿一覧</h2>
                <%= link_to new_recipe_path do %>
                 <i class="fa-regular fa-square-plus fa-2x ml-2 mt-1"></i>
                <% end %>
        </div>
        <% @recipes.each do |recipe| %>
            <div class="row mt-5">
                <div class="col-md-5">
                    <% if recipe.recipe_image.attached? %> 
                        <%= image_tag recipe.recipe_image.variant(resize: "500x450") %>
                    <% else %>
                        <%= image_tag 'no_image.jpg', :size => "100x100" %>
                    <% end %>
                </div>
                <div class="col-md-5 ml-4">
                    <%= link_to recipe_path(recipe.id) do %>
                        <h3><%= recipe.recipe_name %></h3><br>
                    <% end %>
                    <h4><%= recipe.category.category_name %></h4><br>
                    <% recipe.tags.each do |tag| %>
                        <div class="tag-list">
                            <h4><%= tag.tag_name %></h4>
                        </div>
                    <% end %><br>
                    <%= link_to '編集', edit_recipe_path(recipe.id), class: 'btn btn-success' %>
                </div>
            </div>
        <% end %>
        
    </div>
</div>