<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center mt-4 p-0 p-md-5">
        <% if user_signed_in?%>
            <p class="list-group list-group-horizontal-sm">
                <%= link_to 'トップ', root_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to "レシピ一覧", recipes_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'レシピ投稿', new_recipe_path, class: 'list-item  mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'カテゴリーについて', category_detail_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'ログアウト', destroy_user_session_path, class: 'list-item text-dark text-center', method: :delete %>
            </p>
        <% elsif admin_signed_in? %>
            <p class="list-group list-group-horizontal-sm">
                <%= link_to 'トップ', admin_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to "レシピ一覧", admin_recipes_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'カテゴリーについて', category_detail_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'ログアウト', destroy_admin_session_path, class: 'text-dark text-center', method: :delete %>
            </p>
        <% else %>
            <p class="list-group list-group-horizontal-sm">
                <%= link_to 'トップ', admin_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to "レシピ一覧", admin_recipes_path, class: 'list-item mr-0 mr-md-4 text-dark text-center' %>
                <%= link_to 'カテゴリーについて', category_detail_path, class: 'text-dark text-center' %>
            </p>
        <% end %>
        <p class="mt-3">Copyright © 2023 Reshisapo All Rights Reserved.</p>
     </div>
</div>