<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="row">
            <div class="logo">
                <%= image_tag 'logo.jpg', :size => "100x100" %>
            </div>
            <div class="logo-text mt-4">
                <%= link_to root_path do %>
                 <h1>レシサポ</h1>
                <% end %>
            </div>
        </div>
        <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
                <li>
                    <%= link_to "カテゴリー", user_path(current_user.id), class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to "レシピ一覧", recipes_path, class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to "通知一覧", user_path(current_user.id), class: 'nav-link' %>
                </li>
            <% elsif admin_signed_in? %>
                <li>
                    <%= link_to "カテゴリー管理", admin_categories_path, class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to "ユーザー管理",admin_categories_path, class: 'nav-link' %>　
                </li>
                <li>
                    <%= link_to "レシピ管理", user_path(current_user.id), class: 'nav-link' %>
                </li>
                 <li>
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                </li>
            <% else %>
                <li>
                    <%= link_to "ジャンル一覧", recipes_path, class: 'nav-link' %>
                </li>
                <li>
                    <%= link_to new_user_session_path, class: 'nav-link'  do %>
                        <i class="fa-solid fa-right-to-bracket"></i><br>
                        ログイン
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_registration_path, class: 'nav-link'  do %>
                       <i class="fa-solid fa-user-plus"></i><br>
                       新規登録
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>