<!DOCTYPE html>
<html>
  <head>
    <title>Reshisapo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/b67bc83ec7.js" crossorigin="anonymous"></script>
    

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag "application", media: "all" %>
    
    
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
      <%= render 'layouts/flash_message' %>
    <main class="my-5">
      <%= yield %>
    </main>
    <footer style="height: 220px; margin-top: 150px;" class="border border-top b-0">
      <%= render 'layouts/footer' %>
    </footer>
    
  </body>
</html>
